@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(171, 171, 171);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: #313131;
    color: white;
    font-family: "Electrolize", sans-serif;
}
.alert,
.alert-wrap,
.alert-wrap-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* HOME START */
.home-container{
    height: 100vh;
}
.home-container .header{
    width: 100%;
    background-color: rgb(67, 11, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-top: 30px;
    box-shadow: 0 0 10px black;
    border-bottom: 2px solid gray;
}
.home-container .header *{
    margin-bottom: 30px;
}
.home-container .header .header-content button{
    width: 150px;
    height: 45px;
    background-color: white;
    color: black;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 10px black;
    transition: 0.4s ease-in-out;
}
.home-container .header .header-content button:hover{
    background-color: rgb(174, 174, 174);
}
.home-container .body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.home-container .body .body-head{
    margin: 20px 0;
}
.home-container .body .body-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.home-container .body .body-content div{
    background-color: rgb(27, 27, 27);
    width: 400px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
    position: relative;
    transition: 0.4s ease-in-out;
}
.home-container .body .body-content div:hover{
    transform:scale(1.1);
    box-shadow: 0 0 30px black;
}
/* HOME END */

/* LOGIN START */
.login-container{
    height: 75vh;
}
.login-container .formWrap{
    display: flex;
    justify-content: center;
}
.login-container .formWrap .formDiv{
    width: 400px;
    margin: 30px 0;
}
/* LOGIN END */

/* SIGNUP START */
.signup-container{
    height: 75vh;
}
.signup-container .formWrap{
    display: flex;
    justify-content: center;
}
.signup-container .formWrap .formDiv{
    width: 400px;
    margin: 30px 0;
}
/* SIGNUP END */

/* PROFILE START */
.profile-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}
.profile-container .list-group{
    width: 50%;
}
.profile-container .list-group li{
    background-color: #222;
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
}
.profile-container .list-group li a,
.profile-container .list-group li button{
    width: 150px;
}
.profile-container .list-group li span:first-child{
    color: orange;
}
.changePasswordDiv{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    animation: changeTopAnim 0.5s ease-in-out
}
.changePasswordDiv form{
    background-color: #3b3b3b;
    color: white;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 20px black;
}
.changePasswordDiv form i{
    position: absolute;
    top:15px;
    right: 20px;
    font-size:25px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.changePasswordDiv form i:hover{
    color: orange;
}
.changePasswordDiv form div{
    width: 80%;
    margin: 20px 0;
}
@keyframes changeTopAnim {
    0%{
        top: 30%;
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 1;
    }
}
@keyframes changeBottomAnim {
    0%{
        top: 50%;
        opacity: 1;
    }
    100%{
        top: 30%;
        opacity: 0;
    }
}
/* PROFILE END */

/* BOOK ADD START */
.book-add-container{
    height: 80vh;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.book-add-container form{
    width: 60%;
}
/* BOOK ADD END */

/* BOOK LIST START */
.book-list-container{
    padding: 20px 20px;
}
.book-list-container .pagination a{
    background-color: #222;
    color: white;
}
.book-list-container .buttons{
    display: flex;
    justify-content: center;
}
.book-list-container .buttons a{
    margin: 0 20px;
}
/* BOOK LIST END */

/* BOOK DETAILS START */
.book-details-container{
    height: 80vh;
    padding: 20px 0;
}
.book-details-container .book-details{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.book-details-container .book-details .list-group{
    width: 50%;
}
.book-details-container .list-group li{
    background-color: #3b3b3b;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    text-align: center;
    font-size: 21px;
}
.book-details-container .list-group li span:first-child{
    color: greenyellow;
}
.book-details-container .back-button{
    display: flex;
    justify-content: center;
}
.book-details-container .list-group .islem form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.book-details-container .list-group .islem form button{
    width: 200px;
    margin: 10px 40px;
}
/* BOOK DETAILS END */

/* ABOUT START */
.about-container{
    padding: 50px 20px;
    height: 80vh;
}
.about-container .text{
    width: 80%;
}
/* ABOUT END */

/* CONTACT START */
.contact-container{
    padding: 50px 20px;
    height: 80vh;
}
.contact-container .text{
    width: 80%;
}
/* CONTACT END */

/* NOT FOUND START */
.not-found-container{
    padding: 50px 20px;
    height: 80vh;
}
.not-found-container .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/* NOT FOUND END */


/* FOOTER START */
.footer{
    width: 100%;
    height: 70px;
    position: static;
    bottom: 0;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
/* FOOTER END */


/* RESPONSIVE START */
@media screen and (max-width:768px) {
    /* HOME START */
    .home-container{
        height: auto;
        padding-bottom: 20px;
    }
    .home-container .header{
        padding: 20px 10px 0 10px;
    }
    .home-container .body .body-content{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    .home-container .body .body-content div{
        width: 300px;
        height: 150px;
        margin: 10px 0;
    }
    /* HOME END */

    /* LOGIN START */
    .login-container{
        height: 80vh;
    }
    .login-container .formWrap .formDiv{
        width: 300px;
    }
    /* LOGIN END */

    /* SIGNUP START */
    .signup-container{
        height: 80vh;
    }
    .signup-container .formWrap .formDiv{
        width: 300px;
    }
    /* SIGNUP END */

    /* PROFILE START */
    .profile-container{
        height: 82vh;
        width: 100%;
        padding: 20px 20px;
    }
    .profile-container .list-group{
        width: 380px;
    }
    .profile-container .list-group li{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }
    .changePasswordDiv form{
        width: 350px;
        height: 500px;
    }
    /* PROFILE END */

    /* BOOK START */
    .book-add-container form{
        width: 80%;
    }
    /* BOOK END */

    /* BOOK LIST START */
    .book-list-container table{
        font-size: 14px;
    }
    .book-list-container .buttons{
        width: 100%;
        display: flex;
    }
    .book-list-container .buttons a{
        width: 100px;
        height: 50px;
        margin: 0 5px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* BOOK LIST END */

    /* BOOK DETAILS */
    .book-details-container{
        height: 82vh;
    }
    .book-details-container .book-details .list-group{
        width: 90%;
    }
    .book-details-container .list-group li{
        font-size: 16px;
        padding: 10px 20px;
    }
    .book-details-container .list-group .islem form button{
        width: 300px;
        height: 50px;
        margin: 10px 20px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* BOOK DETAILS END */

    /* ABOUT START */
    .about-container{
        padding: 20px 20px;
        height: auto;
    }
    /* ABOUT END*/

    /* CONTACT START */
    .contact-container{
        padding: 20px 20px;
        height: auto;
    }
    /* CONTACT END*/

    /* NOT FOUND START */
    .not-found-container{
        height: 82vh;
    }
    .not-found-container img{
        width: 300px;
    }
    .not-found-container h1{
        margin-top: 50px;
        font-size: 24px;
    }
    /* NOT FOUND END */
}
/* RESPONSIVE END*/