<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>READERS | Hakkında</title>
</head>
<body>
    <%- include("../partials/navbar") %>

    <div class="about-container">
        <h1 style="margin: 20px 0; color:greenyellow;">Hakkında</h1>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vero animi, vel suscipit quas doloribus eveniet dolores enim neque nesciunt eaque debitis laudantium impedit nemo, eius sapiente placeat explicabo veniam atque temporibus voluptatum omnis. Atque sequi possimus asperiores animi quos, ad aliquam molestias fugit. Assumenda error alias tenetur quam illo!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vero animi, vel suscipit quas doloribus eveniet dolores enim neque nesciunt eaque debitis laudantium impedit nemo, eius sapiente placeat explicabo veniam atque temporibus voluptatum omnis. Atque sequi possimus asperiores animi quos, ad aliquam molestias fugit. Assumenda error alias tenetur quam illo!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vero animi, vel suscipit quas doloribus eveniet dolores enim neque nesciunt eaque debitis laudantium impedit nemo, eius sapiente placeat explicabo veniam atque temporibus voluptatum omnis. Atque sequi possimus asperiores animi quos, ad aliquam molestias fugit. Assumenda error alias tenetur quam illo!</p>
        </div>
    </div>

    <%- include("../partials/footer") %>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>