<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Kitap Ekle</h1>
    <a href="/">Anasayfa</a>
    <form method="post" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" name="name" placeholder="Kitap İsmi">
        <input type="text" name="writer" placeholder="Yazar">
        <input type="number" name="pageCount" placeholder="Sayfa Sayısı">
        <button>Kitabı Ekle</button>
    </form>
</body>
</html>