<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>READERS | Anasayfa</title>
</head>
<body>
    <%- include("../partials/navbar") %>

    <div class="home-container">
        <div class="cont1">
            <h1>MERHABA OKUYUCU!</h1>
        </div>
        <% if (isAuth) { %>
            <div class="cont2">
                <h3>Yeni başladığın kitabı ekleyebilir ve durumunu kontrol edebilirsin.</h3>
            </div>
            <a href="/kitap-listesi"><button>Kitap Listem</button></a>
        <% } else { %>
            <div class="cont2">
                <h3>Okuduğun kitapların listesini tutmak istiyorsan doğru yerdesin.</h3>
            </div>
            <a href="/giris-yap"><button>BAŞLAYALIM!</button></a>
        <% } %>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>