<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>READERS | Anasayfa</title>
</head>
<body>
    <%- include("../partials/navbar") %>

    <div class="home-container">
        <div class="header">
            <div class="header-content">
                <h1>Merhaba Okuyucu!</h1>
                <h3>Okuduğun kitapları kaydet, ilerlemeni takip et ve ilham al!</h3>
                <% if (isAuth) { %>
                    <a href="/kitap-listesi"><button>Kitap Listem</button></a>
                <% } else { %>
                    <a href="/giris-yap"><button>Hemen Başla!</button></a>
                <% } %>
            </div>
        </div>
        <div class="body">
            <div class="body-head">
                <h2>Neler Yapabilirsin?</h2>
            </div>
            <div class="body-content">
                <div>
                    <h3>Kitap Kaydet</h3>
                    <p>Okuduğun kitapları hızlıca listeye ekleyebilirsin.</p>
                </div>
                <div>
                    <h3>Kitap Listesini Takip Et</h3>
                    <p>Listeden kitaplarına göz atabilirsin.</p>
                </div>
                <div>
                    <h3>Kitap Durumunu Kontrol Et</h3>
                    <p>Yarıda bıraktığın veya okuduğun kitapların durumunu değiştirebilirsin.</p>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partials/footer") %>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>