<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            margin: 40px 0;
            display: block;
        }
    </style>
</head>
<body>
    <h1>Anasayfa</h1>
    <a href="/kayit-ol">Kayıt Ol</a>
    <a href="/giris-yap">Giriş Yap</a>
    <% if (isAuth) { %>
     <a href="/profil">Profil</a>
    <% } %>
</body>
</html>