<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>READERS | Sayfa Bulunamadı!</title>
</head>
<body>

    <%- include("../partials/navbar") %>

    <div class="not-found-container">
        <div class="images">
            <img src="/images/not-found.webp" width="600px">
            <h1>Aradığınız Sayfa Bulunamadı!</h1>
        </div>
    </div>

    <%- include("../partials/footer") %>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>