<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <a href="/">Anasayfa</a>
    <h2>İSİM: <%= user.name %></h2>
    <h2>KULLANICI ADI: <%= user.username %></h2>
    <a href="/kitap-ekle">Kitap Ekle</a><br>
    <a href="/kitap-listesi">Kitap Listesi</a><br>
    <a href="/cikis-yap">Cıkış Yap</a>
</body>
</html>